<div xmlns:th="http://www.thymeleaf.org" th:fragment="page_reward" class="pages" th:name="reward">
    <div class="content-parts">
        <ul class="layui-timeline">
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">实验奖励</h3>

                    <table class="layui-table table-opacity">
                        <tbody>
                        <tr>
                            <td>
                                <p class="text-indent">
                                    实验共进行16试次，每试次包括2轮分配任务。
                                </p>
                                <p class="text-indent">
                                    在每试次的2轮任务中不改变团队成员组成，第2轮任务前每个团队成员都可以知道第1轮中其他团队成员的分配情况以及公共池的投入总额。
                                </p>
                                <p class="text-indent">
                                    每一试次前重新匹配团队成员，因此不反馈上一试次第2轮的结果。待实验结束时反馈所有的实验结果
                                </p>
                                <p class="text-indent">
                                    该实验一共包含32轮分配任务（实验轮数=实验试次数ⅹ2），实验结束后随机挑选4轮给与奖励。
                                </p>
                                <p class="text-indent">
                                    兑换规则：1任务币=0.1人民币。
                                </p>
                                <p class="text-indent">
                                    因为4轮是随机挑选的，所以你应同等对待所有轮次。
                                </p>
                                <p class="text-indent">
                                    请确定你理解了所有的实验规则，如果你还有问题，请及时联系主试。接下来你将会回答一些问题以确保你在实验开始前理解了实验规则。
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <div class="layui-timeline-title"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
