<div xmlns:th="http://www.thymeleaf.org" th:fragment="page_testing" class="pages" th:name="testing">
    <div class="content-parts">
        <ul class="layui-timeline">
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">测试</h3>
                    <table class="layui-table table-opacity">
                        <colgroup>
                            <col width="150">
                            <col width="500">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td th:rowspan="2" class="text-center">
                                    <p>目标</p>
                                </td>
                                <td class="text-center">
                                    <p>个人目标</p>
                                </td>
                                <td class="text-center">
                                    <p>35个任务币</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <p>公共目标</p>
                                </td>
                                <td class="text-center">
                                    <p>120个任务币</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center" th:rowspan="2">
                                    <p>投币</p>
                                </td>
                                <td th:colspan="2" class="text-center">
                                    <p>请你决定分别向个人池和公共池投入多少任务币</p>
                                </td>
                            </tr>
                            <tr>
                                <td th:colspan="2" class="text-center">
                                    <p><span>向个人池投入</span><input id="personal"/><span>个任务币</span></p>
                                    <p><span>向公共池投入</span><input id="commonality"/><span>个任务币</span></p>
                                    <p><span>留给自己</span><input id="other" disabled/><span>个任务币</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center" th:colspan="3">
                                    <button type="button" id="testing-submit" class="layui-btn layui-btn-radius layui-btn-sm">提交</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <div class="layui-timeline-title"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
