<div xmlns:th="http://www.thymeleaf.org" th:fragment="page_tips" class="" th:name="tips">
    <div class="tips">
        <div class="">
            <button class="layui-btn">
                当前第<span class="layui-badge layui-bg-gray" th:name="testNum">1</span>试次，
                第<span class="layui-badge layui-bg-gray" th:name="roundNum">1</span>轮
            </button>
        </div>
        <div class="">
            <button class="layui-btn">
                当前<span class="layui-badge layui-bg-gray" th:name="person_online">1</span>人在线
            </button>
        </div>
    </div>
</div>
