<div xmlns:th="http://www.thymeleaf.org" th:fragment="page_virtual" class="pages" th:name="virtual">
    <div class="content-parts">
        <ul class="layui-timeline">
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">虚拟数据展示</h3>
                    <table class="layui-table table-opacity">
                        <colgroup>
                            <col width="10">
                            <col width="100">
                            <col width="200">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr class="border-right-strong border-left-strong border-top-strong">
                            <th class="text-center">自变量水平</th>
                            <th class="text-center">被试</th>
                            <th class="text-center">公共池投入</th>
                            <th class="text-center">个人池投入</th>
                        </tr>
                        </thead>
                        <tbody id="virtual-detail">

                        </tbody>
                    </table>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <div class="layui-timeline-title"></div>
                </div>
            </li>
        </ul>
        <div class="tips virtual-tips">
            第<input id="testNum">试次，第<input id="personNum">人
            <button id="sure" class="layui-btn layui-btn-sm">查看结果</button>
        </div>
        <div id="result" class="virtual-result">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th class="text-center">被试</th>
                        <th class="text-center">公共池投入</th>
                        <th class="text-center">个人池投入</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div id="close" class="close">X</div>
        </div>
    </div>
</div>
