<div xmlns:th="http://www.thymeleaf.org" th:fragment="page_waiting" class="pages" th:name="waiting">
    <div class="content-parts">
        <ul class="layui-timeline">
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <div class="waiting">
                        <div class="waiting-text">请耐心等待<dot>...</dot></div>
                        <img th:src="@{images/waiting2.gif}" class="">
                    </div>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                <div class="layui-timeline-content layui-text">
                    <div class="layui-timeline-title"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
