<header xmlns:th="http://www.thymeleaf.org" th:fragment="css_fragment_common">
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
</header>

<header xmlns:th="http://www.thymeleaf.org" th:fragment="css_fragment_index">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</header>

<header xmlns:th="http://www.thymeleaf.org" th:fragment="css_fragment_layui">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/layui/css/layui.css}">
</header>

<header xmlns:th="http://www.thymeleaf.org" th:fragment="css_fragment_login">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</header>

<header xmlns:th="http://www.thymeleaf.org" th:fragment="css_fragment_transition">
    <link rel="stylesheet" type="text/css" th:href="@{/css/transition.css}">
</header>

<header xmlns:th="http://www.thymeleaf.org" th:fragment="css_fragment_count">
    <link rel="stylesheet" type="text/css" th:href="@{/css/count.css}">
</header>
