<footer xmlns:th="http://www.thymeleaf.org" th:fragment="js_fragment_common">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/layui/layui.js}"></script>
</footer>
<footer xmlns:th="http://www.thymeleaf.org" th:fragment="js_fragment_index">
    <script th:type="module" th:src="@{/js/index.js}"></script>
</footer>

<footer xmlns:th="http://www.thymeleaf.org" th:fragment="js_fragment_login">
    <script th:type="module" th:src="@{/js/login.js}"></script>
</footer>

<footer xmlns:th="http://www.thymeleaf.org" th:fragment="js_fragment_transition">
    <script th:type="module" th:src="@{/js/transition.js}"></script>
</footer>

<footer xmlns:th="http://www.thymeleaf.org" th:fragment="js_fragment_treicher">
    <script th:type="module" th:src="@{/js/treicher.js}"></script>
</footer>

<footer xmlns:th="http://www.thymeleaf.org" th:fragment="js_fragment_feedback">
    <script th:type="module" th:src="@{/js/feedback.js}"></script>
</footer>

<footer xmlns:th="http://www.thymeleaf.org" th:fragment="js_fragment_virtual">
    <script th:type="module" th:src="@{/js/virtual.js}"></script>
</footer>

<footer xmlns:th="http://www.thymeleaf.org" th:fragment="js_fragment_cursor_blob">
    <script  th:src="@{/js/common/cursor/snowflakeCursor.js}"></script>
</footer>

<footer xmlns:th="http://www.thymeleaf.org" th:fragment="js_fragment_config">
    <script th:type="module" th:src="@{/js/config.js}"></script>
</footer>
