<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理-虚拟数据展示</title>
    <header th:replace="fragment/common/import_css::css_fragment_layui"></header>
    <header th:replace="fragment/common/import_css::css_fragment_common"></header>
    <header th:replace="fragment/common/import_css::css_fragment_index"></header>
</head>
<body>
<div th:replace="fragment/pages/virtual::page_virtual"></div>
<!--<div class="layui-upload-drag" id="test10">
    <i class="layui-icon"></i>
    <p>点击上传，或将文件拖拽到此处</p>
</div>-->


<footer th:replace="fragment/common/import_js::js_fragment_common"></footer>
<script th:inline="javascript">
    //取出后台数据，这部分代码只能放在这里
    let virtualRes = [[${virtualRes}]];
    let realTestNums = [[${realTestNums}]];
</script>
<footer th:replace="fragment/common/import_js::js_fragment_virtual"></footer>
</body>
</html>