body {
    width: calc(90vw);
    height: calc(90vh);
}

.button-parts {
    height: 38px;
    width: 92px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.ready {
    display: none;
}

.progress {
    width: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 12%;
    text-align: center;
    font-size: 26px;
    display: none;
}

.progress p {
    margin-bottom: 4%;
}