<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理-登陆</title>
    <header th:replace="fragment/common/import_css::css_fragment_layui"></header>
    <header th:replace="fragment/common/import_css::css_fragment_common"></header>
    <header th:replace="fragment/common/import_css::css_fragment_login"></header>
</head>
<body>
<!--登陆片段-->
<div th:replace="fragment/pages/login::page_login"></div>
<!--注册片段-->
<div th:replace="fragment/pages/logon::page_logon"></div>

<footer th:replace="fragment/common/import_js::js_fragment_common"></footer>
<footer th:replace="fragment/common/import_js::js_fragment_login"></footer>
</body>
</html>